<div class="modal-header">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4 ng-if="vm.mode=='view'">Bid Details</h4>
        <h4 ng-if="vm.mode=='add'">Create New Bid</h4>
        <h4 ng-if="vm.mode=='edit'">Edit Bid</h4>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" ng-if="vm.tabs.length>1">
        <select class="pull-right marginTop20 form-control" ng-options="tab as tab for tab in vm.tabs" ng-model="vm.tab"></select>
    </div>
</div>
<div class="modal-body">
    <div ng-include="'App/modules/bidding/partials/forms/biddingItem-bidder.html'"></div>
</div>
<div class="modal-footer">
    <div ng-if="vm.model.Status=='ACTV'" bid-btn="vm.model"></div>
    <div ng-if="vm.model.Status=='ACTV'||vm.model.Status=='STAG'" watch-btn="vm.model"></div>
    <button class="btn btn-secondary pull-left" ng-click="vm.close()">Close</button>
</div>
