<div class="container">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bidding Service</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto nav-tabs">
                <li ng-repeat="tab in vm.tabs" class="nav-item">
                    <a ng-click="vm.gotoTab(tab)" class="nav-link" ng-class="{'active':vm.currentTab.Code===tab.Code}">{{tab.Text}}</a>
                </li>
            </ul>
            <div class="pull-right">
                <div class="btn-group">
                    <!--<button type="button" class="btn btn-primary btn-sm" data-ng-disabled="vm.AlertList.length == 0">{{ vm.AlertList.length}} </button>-->
                    <i class="fa fa-bell-o marginTop10" aria-hidden="true" data-ng-disabled="vm.AlertList.length == 0"></i>{{ vm.AlertList.length}}
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-ng-disabled="vm.AlertList.length == 0" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu notification-dropdown" role="menu">
                        <li data-ng-repeat="alert in vm.AlertList"><a href="#" data-ng-click="viewItem(alert)"><img src="{{alert.ImageUrl}}" err-src="Images/question_mark.png" class="notification-img" />{{alert.Message}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<button ng-click="vm.test()">test</button>-->
<div class="page-content" ui-view="content"></div>