<div class="modal-header">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4 ng-if="vm.mode=='view'">Bid Details</h4>
        <h4 ng-if="vm.mode=='add'">Create New Bid</h4>
        <h4 ng-if="vm.mode=='edit'">Edit Bid</h4>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" ng-if="vm.tabs.length>1">
        <select ng-options="tab as tab in vm.tabs" ng-model="vm.tab"></select>
    </div>
</div>
<div class="modal-body">
    <div ng-if="vm.tab!='history'" ng-include="'App/modules/bidding/partials/forms/biddingItem.html'"></div>
    <div ng-if="vm.tab=='history'" ng-include="'App/modules/bidding/partials/forms/actionList.html'"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" ng-click="vm.save()">Create</button>
    <button class="btn btn-default pull-left" ng-click="vm.close()">Cancel</button>
</div>
