<?xml version="1.0"?>
<appSettings>
  <add key="Errors:IncludeStackTrace" value="true" />

  <add key="EsbConnectionString" value="host=asi-rabbitucn1-04.asinetwork.local,asi-rabbitucn2-04.asinetwork.local;username=asiuser;password=asiuser;prefetchcount=5;scheduler=DeadLetterExchangeAndMessageTtlScheduler;"/>
  <add key="EsbStatsConnectionString" value="host=asi-rabbitucn1-04.asinetwork.local,asi-rabbitucn2-04.asinetwork.local;username=asiuser;password=asiuser;prefetchcount=5;scheduler=DeadLetterExchangeAndMessageTtlScheduler;compact=true;"/>

  <add key="SecurityKeyPath" value="D:\Websites\asiservice.asicentral.com\data\Login\RSA\"/>
  <add key="GlobalSecurityKeyPath" value="\\10.1.0.243\MediaProjects\CITKA\UAT\RSA"/>
</appSettings>
