<?xml version="1.0"?>
﻿<connectionStrings>
  <add name="MmsConnection" connectionString="Data source=ASI-SQLUCDG1-06.asinetwork.local; Initial catalog=MemberMgmtMaster;User ID=asim_user;Password=asim_05262011_UAT!"/>
  <add name="AsiSecurityConnection" connectionString="Data source=ASI-SQLUCDG1-06.asinetwork.local; Initial catalog=ASI_Security;User ID=AppAuthUser;Password=aau_05262011_UAT!"  />
  <add name="SharedMaster" connectionString="Data source=ASI-SQLUCDG1-06.asinetwork.local; Initial catalog=SharedMaster;User ID=asim_user;Password=asim_05262011_UAT!"  />
  <add name="MemberDemographics" connectionString="Data Source=asi-sqlucdg1-06.asinetwork.local;Initial Catalog=DM_MemberDemogr;User ID=citkauser_2oo9o8@4;Password=Cu2009_05262011_UAT!" providerName="System.Data.SqlClient" />
</connectionStrings>