<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <div class="form-section">
                <h5 class="gray">Product</h5>
                <div class="form-field">
                    <img ng-src="{{vm.model.ImageUrl}}" err-src="Images/question_mark.png" class="form-image" />
                </div>
                <div class="form-field">
                    <label class="form-label">Name</label>
                    <input class="form-input form-control" type="text" ng-model="vm.model.Name" disabled />
                </div>
                <div class="form-field">
                    <label class="form-label">Description</label>
                    <textarea class="form-textarea form-control" ng-model="vm.model.Description" disabled></textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div class="form-section" ng-if="vm.model.Setting.ShowCurrentPrice">
                <h5 class="gray">Pricing</h5>
                <div class="form-field">
                    <label class="form-label">Current Price</label>
                    <input class="form-input form-control" type="number" ng-model="vm.model.Price" disabled />
                </div>
                <div class="form-field">
                    <label class="form-label">Increment</label>
                    <input class="form-input form-control" type="number" ng-model="vm.model.Setting.MinIncrement" disabled />
                </div>
            </div>
            <div class="form-section">
                <h5 class="gray">Bid Status</h5>
                <div class="form-field">
                    <label class="form-label">&nbsp;</label>
                    <input type="text" class="form-input form-control" ng-model="vm.model.Status" disabled />
                </div>
            </div>
            <div class="form-section">
                <h5 class="gray">Time</h5>
                <div class="form-field">
                    <label class="form-label">Start Date</label>
                    <input type="text" class="form-input form-control" ng-model="vm.model.Setting.StartDate" disabled />
                </div>
                <div class="form-field">
                    <label class="form-label">End Date</label>
                    <input type="text" class="form-input form-control" ng-model="vm.model.Setting.EndDate" disabled />
                </div>
            </div>
            <div class="your-matched-products">
                <div class="pull-left" ng-repeat="product in vm.myProducts"></div>
                <div class="pull-left" ng-clicked="vm.addNewProduct()"></div>
            </div>
        </div>
    </div>
</div>