body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    cursor: pointer;
}

.page-content {
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
}

.filters {
    margin-top: 20px;
    margin-left: 10px;
}

.input-sm {
    height: 26px !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
}

.bid-input {
    max-width: 100px;
}

.black-bubble {
    font-size: 12px;
    color: white;
    border-radius: 6px;
    background-color: black;
    position: relative;
    top: -5px;
    left: -5px;
}

.menu-btn {
    padding: 2px;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.modal-wide .modal-dialog {
    width: 80% !important;
    max-width: 80% !important;
    min-width: 200px !important;
}

.fade.in {
    opacity: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

/*gallery related*/
.gallery {
    width: 100%;
    min-width: 200px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.gallery-scroll {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.gallery-item {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: auto;
    display: inline-block;
}

.selection-group * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*item-card related*/
.item-card {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-card-img-container {
    position: relative;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.item-card-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 100%;
}

.item-card-img-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item-card-img-hover-btm {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    text-align: center;
}

.item-card-img-hover-top {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 50%);
    -ms-transform: translate(0%, 50%);
    -moz-transform: translate(0%, 50%);
    -webkit-transform: translate(0%, 50%);
    -o-transform: translate(0%, 50%);
    text-align: left;
}

.item-card-img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item-card-img-top-right {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    text-align: center;
}

.red-white-label {
    padding: 2px 4px 2px 4px;
    color: white;
    background-color: red;
}

.blue-white-label {
    padding: 2px 4px 2px 4px;
    color: white;
    background-color: dodgerblue;
}

.green-white-label {
    padding: 2px 4px 2px 4px;
    color: white;
    background-color: lawngreen;
}

.item-card-img-container:hover .item-card-img {
    opacity: 0.3;
}

.item-card-img-container:hover .item-card-img-hover {
    opacity: 1;
    z-index:500;
}


.item-card-img-container:hover .item-card-img-cover {
    opacity: 0;
    z-index: 490;
}

.item-card-text-line {
    width: 100%;
    height: auto;
    min-height: 20px;
    padding: 2px;
}

.item-card-name {
    font: bold 15px arial,verdana;
    color: black;
    width: 50%;
    max-width: 50%;
    text-align: left;
    float: left;
    padding-left: 15px;
}

.item-card-price {
    font: 15px arial,verdana;
    color: darkgray;
    width: 20%;
    max-width: 20%;
    text-align: center;
    float: left;
}

.item-card-count {
    font: 15px arial,verdana;
    color: darkgray;
    width: 20%;
    max-width: 20%;
    text-align: center;
    float: left;
}

.item-card-countdown {
    font: 15px arial,verdana;
    color: black;
    width: 58%;
    max-width: 58%;
    text-align: center;
    float: right;
}

.black {
    color: black;
}

.gray {
    color: darkgray;
}

/*form related*/

.form-section {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    display: grid;
}

.form-field {
    margin-top: 5px;
}

.form-label {
    width: 35%;
    float: left;
}

.form-input {
    width: 60%;
    float: left;
}

.form-image {
    width: 100%;
    min-width: 200px;
    max-width: 450px;
}

.form-textarea {
    height: 100px;
    width: 60%;
    float: left;
}

/**/

.marginBottom20 {
    margin-bottom: 20px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.results-bar {
    border-radius: 4px;
    border: 1px solid lightgray;
    background: rgb(221,221,221);
    margin-bottom: 20px;
    padding-top: 5px;
}

    .results-bar .results-count {
        display: inline-block;
        padding-right: 10px;
    }

        .results-bar .results-count span {
            font-size: 18px;
        }

    .results-bar .results-group {
        display: inline-block;
        padding: 5px 10px;
        border-left: 1px dashed lightgray;
        font-size: 12px;
    }

hr.hr-dashed {
    border-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table.table-condensed th {
    font-size: 13px;
    white-space: nowrap;
}

.table > tbody > tr:hover {
    background-color: #eaf1f9;
    cursor: pointer;
}

.table .table.table-borderless {
    background-color: transparent;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    border-bottom: none;
}

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
        }

.table td.td-no-padding {
    padding: 0px !important;
    margin-top: -1px;
}

.table .table {
    margin-bottom: 0;
}

.notification-dropdown {
    width: 500px;
    left: -445px !important;
}

    .notification-dropdown li a {
        width: 100%;
        max-height: 10%;
        display: inline-block;
    }

.notification-img {
    opacity: 1;
    display: block;
    width: 50px;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
    margin-left: 10px;
}

.notification-text {
    opacity: 1;
    display: block;
    width: 425px;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
    margin-left: 10px;
    text-decoration: none !important;
    font: 14px arial, venrdana;
    color: gray;
}

    .notification-text:hover {
        color: lightgray;
    }

.notification-btn {
    opacity: 1;
    display: block;
    width: 425px;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
    margin-left: 10px;
    text-decoration: none !important;
    font: bold 14px arial, venrdana;
    color: gray;
    cursor: pointer;
}

    .notification-btn:hover {
        color: lightgray;
    }

.btn-gray {
    padding: 0 !important;
}

    .btn-gray:hover {
        color: white;
    }

.model-subtab {
    padding: 0 !important;
    margin: 0px 0px 0px 20px !important;
    display: inline-block;
}

/*animation*/
.highlight-animation {
    -webkit-animation: red-highlight 2s ease-in-out;
    -moz-animation: red-highlight 2s ease-in-out;
    -o-animation: red-highlight 2s ease-in-out;
    animation: red-highlight 2s ease-in-out1;
}

@-webkit-keyframes red-highlight {
    0% {
        background-color: none;
    }

    50% {
        background-color: none;
    }

    100% {
        background-color: none;
    }
}

@-moz-keyframes red-highlight {
    0% {
        background-color: none;
    }

    50% {
        background-color: none;
    }

    100% {
        background-color: none;
    }
}

@-o-keyframes red-highlight {
    0% {
        background-color: none;
    }

    50% {
        background-color: none;
    }

    100% {
        background-color: none;
    }
}

@keyframes red-highlight {
    0% {
        background-color: none;
    }

    50% {
        background-color: none;
    }

    100% {
        background-color: none;
    }
}