body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-item {
    cursor: pointer;
}

/*item-card related*/
.item-card {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-card-img-container {
    position: relative;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.item-card-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 100%;
}

.item-card-img-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item-card-img-container:hover .item-card-img {
    opacity: 0.3;
}

.item-card-img-container:hover .item-card-img-hover {
    opacity: 1;
}

.item-card-text-line {
    width: 100%;
    height: auto;
    min-height: 20px;
    padding: 2px;
}

.item-card-name {
    font: bold 15px arial,verdana;
    color: black;
    width: 50%;
    max-width: 50%;
    text-align: left;
    float: left;
    padding-left: 15px;
}

.item-card-price {
    font: 15px arial,verdana;
    color: darkgray;
    width: 20%;
    max-width: 20%;
    text-align: center;
    float: left;
}

.item-card-count {
    font: 15px arial,verdana;
    color: darkgray;
    width: 20%;
    max-width: 20%;
    text-align: center;
    float: left;
}

.item-card-countdown {
    font: 15px arial,verdana;
    color: black;
    width: 58%;
    max-width: 58%;
    text-align: center;
    float: right;
}

.black {
    color: black;
}
