<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Errors:IncludeStackTrace" value="true" />
  
  <add key="EsbConnectionString" value="host=localhost;username=guest;password=guest;loggerName=ESB"/>
  <add key="EsbStatsConnectionString" value="host=localhost;username=guest;password=guest;loggerName=ESB"/>

  <add key="SecurityKeyPath" value="D:\WebSites\LoginKeys\Local\Orders\"/>
  <add key="GlobalSecurityKeyPath" value="D:\WebSites\LoginKeys\Global\"/>
</appSettings>
