<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MmsConnection" connectionString="Data source=ASI-SQLDS-06.asinetwork.local; Initial catalog=MemberMgmtMaster; User ID=asim_user; Password=stgc_asim"/>
  <add name="AsiSecurityConnection" connectionString="Data Source=ASI-SQLDS-06.asinetwork.local; initial catalog=ASI_Security; uid=AppAuthUser; pwd=IntbTdbaV0tTak"/>
  <add name="SharedMaster" connectionString="Data source=ASI-SQLDS-06.asinetwork.local; Initial catalog=SharedMaster;User ID=citkauser_2oo9o8@4; Password=g@f0r1tD0ne;" />
  <add name="MemberDemographics" connectionString="Data source=ASI-SQLDS-06.asinetwork.local; Initial catalog=MemberMgmtMaster; User ID=asim_user; Password=stgc_asim" />
  <add name="BiddingContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Bidding"/>
</connectionStrings>