<?xml version="1.0"?>
<appSettings>
  <add key="Errors:IncludeStackTrace" value="false" />

  <add key="EsbConnectionString" value="host=asi-rabbitpcn1-06.asinetwork.local,asi-rabbitpcn2-06.asinetwork.local;username=asiuser;password=asiuser;prefetchcount=5;scheduler=DeadLetterExchangeAndMessageTtlScheduler;"/>
  <add key="EsbStatsConnectionString" value="host=asi-rabbitpcn1-07.asinetwork.local,asi-rabbitpcn2-07.asinetwork.local;username=asiuser;password=asiuser;prefetchcount=5;compact=true;"/>

  <add key="SecurityKeyPath" value="D:\Websites\asiservice.asicentral.com\data\Login\RSA\"/>
  <add key="GlobalSecurityKeyPath" value="\\10.1.0.240\MediaProjects\CITKA\PROD\RSA"/>
</appSettings>
