<?xml version="1.0"?>
﻿<connectionStrings>
  <add name="MmsConnection" connectionString="Data source=ASI-SQLPCDG1-06.asinetwork.local; Initial catalog=MemberMgmtMaster;User ID=asim_user;Password=TuisFg0sOBi1Xa"  />
  <add name="AsiSecurityConnection" connectionString="Data source=ASI-SQLPCDG1-06.asinetwork.local; Initial catalog=ASI_Security;User ID=AppAuthUser;Password=GpuCbDGi2007Dm"  />
  <add name="SharedMaster" connectionString="Data source=ASI-SQLPCDG1-06.asinetwork.local; Initial catalog=SharedMaster;User ID=asim_user;Password=TuisFg0sOBi1Xa"  />
  <add name="MemberDemographics" connectionString="Data source=ASI-SQLPCDG1-06.asinetwork.local; Initial catalog=DM_MemberDemogr;User ID=asim_user;Password=TuisFg0sOBi1Xa" providerName="System.Data.SqlClient" />
</connectionStrings>